@import './font';
@import './responsives';

$wrapper-width: 80vw;
$nav-margin-left: 20px;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Forma', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-size: 17px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  margin: auto;
}

main {
  @include xs {
    padding-top: 38px;
    min-height: calc(100vh - 88px);
  }

  @include m {
    padding-top: 0;
    min-height: calc(100vh - 50px);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgba(0,0,0,0.3);
}


// Menu
nav {
  position: fixed;
  width: 377px;
  height: 38px;
  background: #EFEFEF;
  border-radius: 4px 0px 4px 4px;
  right: 0;
  z-index: 999;
  overflow: hidden;
  transition: 0.25s;
}

nav > div {
  height: 30px;
}

#bar {
  display: flex;
}

#bar-logo {
  margin: 9px 0 0 9px;
}

#bar-logo a:hover {
  border: 0 !important;
}

#bar-opts {
  display: flex;
  margin: 6px 0 0 auto;
}

#bar-cart {
  border: 0 !important;
  margin: 1px 12px 0 0 ;
  color: #000000;
  transition: 0.25s;
}

#bar-cart:hover {
  border: 0 !important;
  color: #FF0000;
  text-shadow: 0px 0px 4px rgba(255, 0, 184, 0.45);
}

#bar-cart-count {
  color: #FF0000;
  text-shadow: 0px 0px 4px rgba(255, 0, 184, 0.45);
  margin-left: 6px;
}

#bar-menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  cursor: pointer;
  background: #ECECEC;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  text-decoration: none;
  border: 0;
  transition: 0.25s;
}

#bar-menu-open:hover {
  background: #ECECEC;
  filter: contrast(110%);
  //box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.inset {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7) !important;
}


nav.menu-opened {
  height: 181px;
  background: #000000;
}

.bar-logo-white {
  filter: invert(1);
}

.bar-cart-white {
  color: #FFFFFF !important;
  transition: 0.25s !important;
}

.bar-cart-white:hover {
  color: #FF0000 !important;
  text-shadow: 0px 0px 4px rgba(255, 0, 184, 0.45);
}

#menu-opts a {
  color: rgba(255,255,255,1);
  transition: 0.25s;
}

#menu-opts a:hover {
  color: rgba(255,255,255,0.7);
}

#menu-opts div {
  height: 30px;
  padding: 20px 8px;
}

.help-to-close {
  width: 100%;
  height: 100%;
  z-index: 998;
  position: fixed;
}

// Wrapper
.wrapper {
  margin: 0 auto;
  position: relative;

  @include xs {
    width: 100vw;
    padding: 0 20px 112px 20px;
  }

  @include m {
    width: $wrapper-width;
    padding-bottom: 200px;
  }
}

.with-right-border {
  @include xs {
    border-right: 0;
  }

  @include m {
    border-right: 2px solid black;
  }
}

.wrapper a {
  border-bottom: 2px solid black;
  cursor: pointer;
  transition: 0.25s;
}

.wrapper a:hover {
  border-bottom: 2px solid rgba(0,0,0,0);
  color: black !important;
}

.empty {
  margin-top: 50px;
}

// Footer
.footer {
  width: calc(100vw - (100vw - 100%));
  font-size: 14px;
  letter-spacing: 0.2px;

  @include xs {
    padding: 12px 0 15px 0;

    & div {
      display: block;
      text-align: center;
    }
  }

  @include m {
    padding: 10px 20px 15px 20px;

    & div {
      display: inline-block;
    }

    & div:last-child {
      float: right;
    }
  }
}

// Buttons
button {
  background: #E8E8E8;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 4px 4px;
  cursor: pointer;
  transition: 0.25s;
  height: 30px;

  @include xs {
    width: 100%;
  }

  @include m {
    width: 250px;
  }

}

button:hover {
  filter: contrast(110%);
}

button:focus {
  outline: 0;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.darkgrey {
  background: #BABABA;
}

.pay {
  border: 0;
  background: #BABABA;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 2px;
  cursor: pointer;
  transition: 0.3s;
  height: 26px;

  @include xs {
    width: 100%;
  }

  @include l {
    width: 250px;
  }

  &:hover {
    animation: 8s move linear infinite;
    background: linear-gradient(-60deg, rgba(255,0,0,1) 0%, rgba(255,0,166,1) 24%, rgba(44,59,180,1) 45%, rgba(97,203,16,1) 74%, rgba(255,0,0,1) 100%);
    background-size: 800% 800%;
    filter: contrast(130%);
    padding: 1px;
    box-shadow: 0px 0px 13px rgba(0,255,0,0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.17), inset 4px 4px 2px rgba(255, 255, 255, 0.12);
    color: white;
    cursor: pointer;
    text-shadow: white 0 0 6px;
  }

  &:disabled:hover {
    border: 0;
    background: #BABABA;
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 2px;
    cursor: pointer;
    transition: 0.3s;
    height: 26px;
    filter: contrast(100%) !important;
    color: rgba(0,0,0,0.5);
    text-shadow: white 0 0 0 !important;

    @include xs {
      width: 100%;
    }

    @include l {
      width: 250px;
    }
  }
}

@keyframes move {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.pink {
  background: #FF6BF0;
  color: #FF0000;
  box-shadow: 0px 0px 13px rgba(255, 24, 24, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
}

// Dropdown
.dropdown {
  display: block;
  font-family: 'Forma', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-size: 17px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  margin: 0;
  border: 0;
  cursor: pointer;

  height: 30px;
  padding: 0 0 0 20px;

  background: #ECECEC;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-image: url('/dropdown_arrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 20px top 50%, 0 0;
  transition: 0.25s;

  &:hover {
    filter: contrast(105%);
  }

  &:focus {
    border: none;
    outline: none;
  }

  @include xs {
    width: 100%;
  }

  @include l {
    width: 214px;
  }
}


// PAGES
// Homepage
.home-media a {
  text-decoration: none;
  border-bottom: 0;
  display: block;
}

.fullsize {
  width: calc(100vw - (100vw - 100%));
  overflow: hidden;
  position: relative;

  @include xs {
    height: calc(100vh - 60px);
  }

  @include l {
    height: 100vh;
  }
}

.fullsize > video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover;
}

// Slug
.slug-nav {
  display: flex;
  z-index: 1;


  @include xs {
    top: 52px;
    left: 20px;
    position: absolute;
  }

  @include m {
    top: 0;
    left: 0;
    padding: 7px 20px;
    position: relative;
  }
}

.violet {
  color: #A40089 !important;
}

.slug-nav > div:first-child {
  margin: 1px 12px 0 0;
}

.close a {
  opacity: 1;
  transition: 0.25s;
}

.close a:hover {
  opacity: 0.5;
}

.slug-buy {
  z-index: 1;
  position: fixed;

  @include xs {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    bottom: 25px;
    top: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @include m {
    position: fixed;
    top: 52px;
    right: 8px;
    margin: 0;
    left: auto;
    bottom: auto;
    width: auto;
  }
}

// Carousel
.slug-carousel {
  display: block;
  background: white;
  position: relative;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  z-index: -9999;

  @include xs {
    margin-top: 0;
    //height: calc(100vh - 88px);
    height: 95vh;
  }

  @include m {
    margin-top: -37px;
    height: 100vh;
  }
}

.card-container {
  & img {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }

  @include xs {
    display: block;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include m {
    display: flex;

    & img {
      width: auto !important;
      height: 100vh;
      margin-left: auto;
      margin-right: auto;
      object-fit: 0 !important;
    }
  }
}

.slug-buttons {
  width: 100%;

  @include xs {
    display: block;
    margin-top: 40px;
  }

  @include m {
    display: flex;
    margin-top: 25px;
  }
}

.slug-buttons form:last-child {
  @include xs {
    margin-left: 0;
    margin-top: 10px;
  }

  @include m {
    margin-left: 8px;
    margin-top: 0;
  }
}

.slug-about {
  border-bottom: 2px solid black;

  @include xs {
    padding: 50px 0 30px 0;
  }

  @include m {
    padding: 80px 80px 30px 80px;
  }

  @include l {
    padding: 80px 120px 30px 120px;
  }
}

.slug-about p:first-child {
  margin-top: 0;
}

.slug-about-text {
  @include xs {
    column-count: 1;
  }

  @include l {
    column-count: 2;
    column-gap: 40px;
  }
}

.slug-about-footnote {
  font-size: 14px;
  line-height: 17px;
  padding: 62px 0 0 0;

  @include xs {
    width: 100%;
    margin-left: 0;
  }

  @include m {
    width: calc((100% / 2) - 20px);
    margin-left: calc((100% / 2) + 20px);
  }
}

.slug-about-footnote p {
  margin: 0;
}

// Buy
.buy  {
  @include xs {
    margin: 70px 0 0 0;
  }

  @include l {
    margin: 50px 40px 0 0;
  }
}


.total {
  @include xs {
    margin: -11px 0;
  }

  @include l {
    margin: 50px 40px 0 0;
  }
}

.buy {
  border-bottom: 2px solid #000000;
}

.buy-container {
  @include xs {
    display: block;
    margin: 58px 0;
  }

  @include m {
    display: flex;
    margin: 50px 0;
  }

  @include l {
    display: flex;
    margin: 20px 0;
  }
}

.buy-caption {
  text-transform: lowercase;
  color: #696969;

  @include xs {
    width: 100%;
    display: none;
  }

  @include l {
    width: 50%;
    display: flex;
  }
}

.buy-licenses, .buy-users {
  @include xs {
    width: 100%;
  }

  @include l {
    width: 50%;
  }
}

.buy-licenses-fonts, .buy-licenses-fontfamily, .buy-licenses-fonts-checkboxes{
  display: flex;
}

.buy-licenses-fonts {
  padding-bottom: 7px;
}

.buy-licenses-fonts-checkboxes {
  margin: 2px 6px 0 auto;

  input[type='checkbox'] {
    &:after {
      line-height: 1.5em;
      content: '';
      cursor: pointer !important;
      display: inline-block;
      margin-top: -6px;
      margin-left: -6px;
      width: 26px;
      height: 26px;
      background: #ECECEC;
      box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
      border-radius: 16px;
      transition: 0.25s;
    }

    &:hover:after {
      filter: contrast(108%);
    }

    &:checked:after {
      background: #FF6B00;
      box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7);
    }

    @include xs {
      margin-left: 43px;
    }

    @include l {
      margin-left: 70px;
    }
  }

  .Desktop:checked:after {
    background: #FF6B00;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7);
  }

  .Web:checked:after  {
    background: #21AEFD !important;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7);
  }

}

.buy-licenses-fontfamily {
  margin: 20px 0;
}

.buy-users {
  margin: -4px 0;

  & p {
    color: #696969;

    @include xs {
      font-size: 14px;
      line-height: 1.4;
    }

    @include l {
      font-size: 17px;
      line-height: 22px;
    }
  }

  & a {
    text-decoration: none;
    transition: 0.25s;

    @include xs {
      border-bottom: 1px solid #696969;
    }

    @include l {
      border-bottom: 2px solid #696969;
    }
  }

  & a:hover {
    color: #696969 !important;
    text-decoration: none;

    @include xs {
      border-bottom: 1px solid rgba(0,0,0,0);
    }

    @include l {
      border-bottom: 2px solid rgba(0,0,0,0);
    }
  }
}

.total button {
  @include xs {
    margin: 34px 0 0 auto;
  }

  @include m {
    margin: -4px 0 0 auto;
  }
}

.buy-licenses-labels {
  width: 100%;
  text-transform: lowercase;
  color: #696969;
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;

  .desktop-web {
    display: flex;
    margin: 0 0 0 auto;
    padding-right: 2px;
  }

  .desktop-web > div {
    @include xs {
      margin-left: 30px;
    }

    @include l {
      margin-left: 58px;
    }
  }
}

// Cart
.cart-items {
  border-bottom: 2px solid black;

  @include xs {
    padding: 70px 0 27px 0;
  }

  @include m {
    padding: 50px 0 40px 0;
  }
}

.cart-item {
  display: flex;

  @include xs {
    padding-bottom: 20px;
  }

  @include m {
    padding-bottom: 3px;
  }
}

.cart-item-left {
  @include xs {
    display: block;
  }

  @include l {
    display: inline-grid;
    grid-template-columns: 240px 150px 150px;
  }
}


.cart-item-right {
  display: flex;
}

.cart-item-right {
  margin: 0 0 0 auto;
}

.cart-item-right > div {
  text-align: right;
  margin: 0 0 0 18px;
}

.cart-item-right > div:last-child {
  margin-top: 1px;
}

.cart-item-right a {
  border-bottom: 0 !important;
}

.cart-item-right a:hover {
  opacity: 0.5;
}

.cart-total {
  padding: 40px 0;
  border-bottom: 2px solid black;
}

.cart-total-field {
  display: flex;
  padding-bottom: 4px;
}

.cart-total-field > div:last-child {
  margin: 0 0 0 auto;
  text-align: right;
}

// Checkout Form
#payment-form {
  padding-top: 20px;

  @include xs {
    width: 100%;
  }

  @include l {
    width: 60%;
  }

  // who buys
  & p {
    font-size: 12px;
    line-height: 25px;
    text-transform: lowercase;
    margin: 20px 0 5px 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;

    // errors
    & p {
      font-size: 12px;
      color: red;
      margin: -8px 0 12px 0;
      text-transform: unset;
    }
  }

  .name-lastname, .city-postalcode {
    width: 100%;

    & fieldset {
      width: 100%;
    }

    @include xs {
      width: 100%;
    }

    @include m {
      display: flex;
      gap: 10px;
    }
  }

  input {
    width: 100%;
    height: 40px;
    background: #F5F5F5;
    box-shadow: inset 3px 3px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 0;
    font-family: inherit;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 41px;
    padding-left: 14px;
    margin-bottom: 10px;
    transition: 0.25s;

    &:focus {
      outline: 0;
      background: #EFEFEF;
    }

    &::placeholder{
      color: #727272;
    }

    &[name="company"] {
      margin-bottom: 0;
    }
  }

  .dropdown {
    color: #727272;
    width: 100% !important;
    height: 40px !important;
    background: #F5F5F5;
    background-image: url('/dropdown_arrow.svg');
    background-repeat: no-repeat, repeat;
    background-position: right 20px top 50%, 0 0;
    transition: 0.25s;
    font-family: inherit;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 41px;
    padding-left: 14px;
    box-shadow: inset 3px 3px 1px rgba(0, 0, 0, 0.05);
    border-radius: 5px;

    &:hover {
      filter: contrast(100%) !important;
    }
  }
}




// Stripe

#root {
  display: flex;
  align-items: center;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
input[type=radio] {
  bottom: 2px;
}

.result-message {
  line-height: 22px;
  font-size: 16px;
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}

#card-error {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}

#card-element {
  width: 100%;
  height: 40px;
  background: #F5F5F5;
  box-shadow: inset 3px 3px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 0;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.2px;
  padding: 11px 12px;
  margin-bottom: 25px;
  transition: 0.25s;
}

#payment-request-button {
  margin-bottom: 32px;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  background: white;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #000;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// Success
.success {
  @include xs {
    margin: 70px 0 0 0;
  }

  @include m {
    margin: 50px 40px 0 0;
  }
}

.success-info {
  padding: 0 0 40px 0;
  border-bottom: 2px solid black;

  @include xs {
    display: block;
  }

  @include m {
    display: flex;
  }

  & > div {
    @include xs {
      width: 100%;
    }

    @include m {
      width: 50%;
    }
  }

  & p {
    margin-top: 0;
  }
}

.success-files {
  padding: 40px 0 40px 0;
  border-bottom: 2px solid black;
}

.success-file {
  display: flex;

  @include xs {
    margin-bottom: 14px;
  }

  @include m {
    margin-bottom: 4px;
  }



  & > div {
    width: 50%;
    display: flex;
  }

  & > div > div:last-child {
    margin: 0 0 0 auto;
  }
}

.success-download {
  margin: 40px 0;

  @include xs {
    display: block;
  }

  @include m {
    display: flex;
  }

  & > div {
    @include xs {
      width: 100%;
      display: block;
    }

    @include m {
      width: 50%;
      display: flex;
    }
  }

  & .mailmessage {
    color: #696969;
  }

  & > div:last-child button {
    @include xs {
      margin: 40px 0 50px auto;
    }

    @include m {
      margin: -3px 0 0 auto;;
    }
  }
}

.success-postman {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;

  & img {
    width: 73px;
    height: 116px;
  }
}

.pdf {
  flex: 1 1 0%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
