$wrapper-width: 80vw;
$nav-margin-left: 20px;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Forma', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-size: 17px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: rgba(0,0,0,0.3);
}


// Menu
nav {
  position: fixed;
  width: 377px;
  height: 38px;
  background: #EFEFEF;
  border-radius: 4px 0px 4px 4px;
  right: 0;
  z-index: 999;
  overflow: hidden;
  transition: 0.25s;
}

nav > div {
  height: 30px;
}

#bar {
  display: flex;
}

#bar-logo {
  margin: 9px 0 0 8px;
}

#bar-logo a:hover {
  border: 0 !important;
}

#bar-opts {
  display: flex;
  margin: 6px 0 0 auto;
}

#bar-cart {
  border: 0 !important;
  margin: 1px 12px 0 0 ;
  color: #000000;
  transition: 0.25s;
}

#bar-cart:hover {
  border: 0 !important;
  color: #FF0000;
  text-shadow: 0px 0px 4px rgba(255, 0, 184, 0.45);
}

#bar-cart-count {
  color: #FF0000;
  text-shadow: 0px 0px 4px rgba(255, 0, 184, 0.45);
  margin-left: 6px;
}

#bar-menu-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  cursor: pointer;
  background: #ECECEC;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 2px 2px 2px rgba(255, 255, 255, 0.7);
  filter: contrast(100%) !important;
  border-radius: 16px;
  text-decoration: none;
  border: 0;
  transition: 0.25s;
}

#bar-menu-open:hover {
  background: #F1F1F1;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

nav.menu-opened {
  height: 181px;
  background: #000000;
}

.bar-logo-white {
  filter: invert(1);
}

.bar-cart-white {
  color: #FFFFFF !important;
  transition: 0.25s !important;
}

.bar-cart-white:hover {
  color: #FF0000 !important;
  text-shadow: 0px 0px 4px rgba(255, 0, 184, 0.45);
}

#menu-opts a {
  color: rgba(255,255,255,1);
  transition: 0.25s;
}

#menu-opts a:hover {
  color: rgba(255,255,255,0.6);
}

#menu-opts div {
  height: 30px;
  padding: 20px 8px;
}

.help-to-close {
  width: 100%;
  height: 100%;
  z-index: 998;
  position: fixed;
}

// Wrapper
.wrapper {
  width: $wrapper-width;
  margin: 0 auto;
}

.with-right-border {
  border-right: 2px solid black;
}

// Footer
.footer {
  width: calc(100vw - (100vw - 100%));
  padding: 210px 20px 15px 20px;
  font-size: 14px;
  letter-spacing: 0.2px;
  //position: fixed;
  //bottom: 10px;
}

.footer div {
  display: inline-block;
}

.footer > div:last-child {
  float: right;
}


// Buttons
button {
  background: #E8E8E8;
  font-family: inherit;
  font-size: inherit;
  border: 0;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 4px 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 250px;
}

button:hover {
  filter: contrast(115%);
}

button:focus {
  outline: 0;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.darkgrey {
  background: #BABABA;
}

.pink {
  background: #FF6BF0;
  color: #FF0000;
  box-shadow: 0px 0px 13px rgba(255, 24, 24, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
}

// PAGES
// Homepage
.home-media a {
  text-decoration: none;
  border-bottom: 0;
  display: block;
}

.fullsize {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.fullsize > video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

// Slug
.slug-nav {
  padding: 7px 20px;
  display: flex;
}

.slug-nav > div:first-child {
  margin: 1px 12px 0 0;
  transition: 0.25s;
}

.slug-nav > div:first-child:hover {
  opacity: 0.5;
}

.slug-buy {
  position: fixed;
  z-index: 1;
  top: 53px;
  right: 8px;
}

// Carousel
.slug-carousel {
  display: block;
  margin: 66px 0 18px 0;
  width: $wrapper-width;
  height: $wrapper-width * 0.707;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.card-container img {
  position: absolute;
  width: $wrapper-width;
}

.slug-buttons {
  width: 100%;
  display: flex;
}

.slug-buttons form:last-child {
  margin-left: 8px;
}
.slug-about {
  padding: 80px 120px 30px 120px;
  border-bottom: 2px solid black;
}

.slug-about p:first-child {
  margin-top: 0;
}

.slug-about-text {
  column-count: 2;
  column-gap: 40px;
}

.slug-about-footnote {
  width: calc((100% / 2) - 20px);
  margin-left: calc((100% / 2) + 20px);
  font-size: 14px;
  line-height: 17px;
  padding: 62px 0 0 0;
}

.slug-about-footnote p {
  margin: 0;
}

// Buy
.buy-container {
  display: flex;
  margin-top: 20px;
}

.buy-caption {
  width: 50%;
  text-transform: lowercase;
  color: #696969;
}

.buy-licenses {
  width: 50%;
}

.buy-licenses-fonts, .buy-licenses-fonts-checkboxes{
  display: flex;
  padding-bottom: 5px;
}

.buy-licenses-fonts-checkboxes {
  margin: 0 20px 0 auto;

  input[type='checkbox'] {
    margin-left: 20px;
  }

  input[type='checkbox']:after{
    line-height: 1.5em;
    content: '';
    cursor: pointer;
    display: inline-block;
    margin-top: -6px;
    margin-left: -6px;
    width: 26px;
    height: 26px;
    background: #ECECEC;
    //opacity: 0.7;
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.15), inset 4px 4px 2px rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    transition: 0.25s;
  }

  input[type='checkbox']:hover:after{
    background: #ECECEC;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7);
  }

  input[type='checkbox']:checked:after{
    background: #FF6B00;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7);
  }

  .Desktop:checked:after {
    background: #FF6B00;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7);
  }

  .Web:checked:after  {
    background: #21AEFD !important;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.15), inset -4px -4px 2px rgba(255, 255, 255, 0.7);
  }

}




/* dropdown */
.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  /*margin-top: -ceil(2.5);*/
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #eeeeee;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #eeeeee;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #cccccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}



/* stripe */

#root {
  display: flex;
  align-items: center;
}

/*form {*/
/*  width: 50vw;*/
/*  align-self: center;*/
/*  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),*/
/*  0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);*/
/*  border-radius: 7px;*/
/*  padding: 40px;*/
/*}*/

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
input[type=radio] {
  bottom: 2px;
}


.result-message {
  line-height: 22px;
  font-size: 16px;
}
.result-message a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.hidden {
  display: none;
}
#card-error {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}
#card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
#payment-request-button {
  margin-bottom: 32px;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}
.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}
.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #000;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #000;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  form {
    width: 80vw;
  }
}